@font-face {
    font-family: domain;
    src: url(/domain.ttf);
}

@font-face {
    font-family: canopee;
    src: url(/canopee.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main {
    background-color: #202020;
    overflow-x: hidden;
    height: 100vh;
}

.page1 {
    height: 140vh;
    width: 100vw;
    background-color: #C4BCB3;
    position: relative;
    overflow: hidden;
}

.nav {
    height: 80px;
    width: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid black;
}

.nav img {
    height: 23px;
    width: 40%;
}

.nav h5 {
    font-size: 12px;
    font-weight: 100;
}

.nav i {
    font-size: 20px;
    text-align: right;
}

.elems {
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 60px;
    padding-top: 20px;
    padding-bottom: 40px;
}

.elem1 {
    width: 33%;
    height: 100%;
}

.elem1 .img-div {
    height: 60%;
    width: 95%;
    overflow: hidden;
}

.elem1 h4 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: canopee;
}

.elem1 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 16px;
    padding: 2px;
    margin-left: 4px;
    border-radius: 4px;
}

.elem1 p {
    font-size: 17px;
    font-family: domain;
    font-weight: 100;
    color: #5E5D5D;
}

.elem2 {
    width: 30%;
    height: 100%;
    border-right: 1.5px solid #8e8e8e;
    padding: 20px 50px;
    text-align: center;
    border-left: 1.5px solid #828282;
}

.elem2 h2 {
    font-family: canopee;
    font-size: 50px;
}

.elem2 h3 {
    font-family: domain;
    font-size: 30px;
    padding-top: 10px;
    font-weight: 100;
    color: #3d3d3d;
}

.elem2 h6 {
    font-size: 15px;
    margin-top: 20px;
    font-family: domain;
    text-transform: uppercase;
    font-weight: 100;
    color: #3d3d3d;
}

.img-div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    transition: all ease 0.5s;
    border: 1px solid black;
}

.img-div:hover img {
    transform: scale(1.1);
}

.elem3 {
    width: 30%;
    height: 100%;
}

.elem3 .img-div {
    height: 60%;
    width: 100%;
    overflow: hidden;
}

.elem3 h4 {
    font-size: 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    font-family: canopee;
}

.elem3 h4 span {
    background-color: #B43B12;
    color: #C4BCB3;
    font-weight: 100;
    font-size: 16px;
    padding: 2px;
    margin-left: 4px;
    border-radius: 4px;
}

.elem3 p {
    font-size: 17px;
    font-family: domain;
    font-weight: 100;
    color: #5E5D5D;
}

.page1 h1 {
    font-size: 450px;
    text-align: center;
    font-family: canopee;
    background-color: #1C1C19;
    color: #C4BCB3;
    line-height: 400px;
    width: 95%;
    margin-left: 2%;
    letter-spacing: -15px;
    font-weight: 100;
}

.page2 {
    height: 200vh;
    width: 100%;
    background-color: #C4BCB3;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 20px;
}

.page2-left {
    height: 170vh;
    width: 35%;
    padding-right: 40px;
    border-right: 1px solid #535353;
}

.page2-left h2 {
    font-size: 100px;
    font-family: canopee;
    text-align: center;
    font-weight: 100;
    letter-spacing: -5px;
    line-height: 120px;
}

.page2-left h2 span {
    font-size: 170px;
    font-family: canopee;
    text-align: center;
}

.page2-left img {
    height: 60%;
    width: 100%;
}

.page2-left p {
    font-size: 25px;
    font-family: domain;
    font-weight: 100;
    color: #3d3d3d;
}

.page2-right {
    height: 100%;
    width: 65%;
    padding: 0 40px;
}

.page2-right img {
    height: 65%;
    width: 100%;
    object-fit: cover;
}

.page2-right h1 {
    font-size: 100px;
    font-family: canopee;
    font-weight: 100;
    letter-spacing: -4px;
    padding-top: 5%;
    line-height: 90px;
}

.page3 {
    padding-bottom: 50px;
    background-color: #C4BCB3;
    padding-top: 5%;
    position: relative;
}

.page3 h1 {
    font-size: 360px;
    background-color: #202020;
    width: 73%;
    color: #C4BCB3;
    font-family: canopee;
    font-weight: 100;
    letter-spacing: -10px;
    margin-left: 2%;
    padding: 0 20px;
    line-height: 320px;
}

.page3 img {
    height: 250px;
    position: absolute;
    top: 20%;
    right: 2%;
    width: 21%;
}

.page4 {
    width: 100%;
    height: 100%;
    background-color: #C4BCB3;
}

.divs {
    width: 100%;
    display: flex;
    background-color: #C4BCB3;
}

.div1 {
    width: 30%;
    height: 60%;
    border-right: 1px solid #404040;
    padding: 0 30px;
}

.div1 h3 {
    font-family: domain;
    font-size: 50px;
    font-weight: 100;
    color: #1e1e1e;
}

.div1 p {
    font-family: domain;
    font-weight: lighter;
    color: #292929;
    font-size: 35px;
    padding-top: 10px;
}

.div1 span {
    font-family: domain;
    font-weight: lighter;
    color: #292929;
}

.div2 {
    width: 35%;
    height: 50%;
    padding: 0 30px;
}

.div2 .img-div {
    overflow: hidden;
    font-family: domain;
}

.div2 h4 {
    margin: 9px 0;
    font-size: 22px;
    font-family: domain;
}

.div2 p {
    font-weight: lighter;
    font-family: domain;
    font-size: 16px;
}

.div3 {
    width: 35%;
    height: 50%;
    border-left: 1px solid black;
}

.div3 h2 {
    font-size: 80px;
    font-weight: 100;
    text-align: center;
    letter-spacing: -7px;
    color: #292929;
    font-family: domain;
}

.div3 .del {
    text-align: center;
    font-size: 145px;
    color: #292929;
    letter-spacing: -8px;
    font-weight: 100;
    line-height: 100px;
    font-family: domain;
}

.div5 .p1::before {
    content: "A";
    font-size: 50px;
    background-color: #202020;
    color: #C4BCB3;
    padding: 0px 12px;
    top: 10px;
    margin: 90px 10px;
}

.div5 .p1 {
    font-family: domain;
    font-size: 30px;
    font-weight: 100;
    padding: 0 35px;
    margin-top: 35px;
    line-height: 35px;
    word-spacing: 3px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.div5 .p2 {
    font-family: domain;
    font-size: 28px;
    font-weight: 100;
    padding: 0 35px;
    line-height: 35px;
    word-spacing: 3px;
    letter-spacing: -1px;
    margin-bottom: 20px;
}

.div4 {
    background-color: #C4BCB3;
    padding: 0px 10px;
    height: 100%;
}

.div4 img {
    width: 100%;
    padding-top: 10px;
}
.div5{
    width: 70%;
}

.div5 .anda {
    height: 150px;
    width: 80%;
    background-color: #C4BCB3;
    border-radius: 50%;
    border: 1px solid black;
    flex-wrap: nowrap;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    cursor: pointer;
}

.anda h1 {
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
    transform: translateX(-30%);
    transition: all ease 0.6s;
}
.anda img {
    height: 40px;
    transform: translateX(-140%);
    transition: all ease 0.6s;
}

.anda:hover img {
    transform: translateX(70%);
}

.anda:hover h1 {
    transform: translateX(100%);
}
.divs2{
    height: 100%;
    display: flex;
    border-bottom: 1px solid black;
}

.page5{
    width: 100%;
    height: 80%;
    font-weight: 100;
  white-space: nowrap;
    background-color: #C4BCB3;

}
.page5::-webkit-scrollbar{
    display: none ;
}
.page5 h1 {
    font-size: 50px;
    text-align: center;
    color: #1C1C19;
    display: inline-block;
    margin-right: 20px ;
    font-weight: 100;
    letter-spacing: -4px;
    animation-name: scroll;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
    margin-top: 25%;
}
.page5 h1 span{
    background-color: #292929;
    color:#C4BCB3;
    padding:0 8px ;
    font-weight: 600;
}
@keyframes scroll{
    0%{
        transform:translateX(0) ;
    }
    100%{
        transform: translateX(calc(-100% - 24px));
    }
}

footer{
    background-color: #C4BCB3;
    display: flex;
    justify-content: space-between;
    padding-bottom: 2%;
    padding-left: 2%;
    padding-right: 2%;
}
.left-foot{
    display: flex;
    gap: 1rem;
    align-items: center;
}
footer h5{
    font-family: canopee;
    font-size: 20px;
}
.right-foot{
    display: flex;
    gap: 1rem;
    padding: 0 10px;
    font-family: canopee;
    font-size: 20px;
   
}

